name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: yarn
        run: yarn --frozen-lockfile
      - name: 'lint configs'
        run: yarn prettier -c 'data/*'
      - name: lint
        run: yarn run lint
      - name: test
        run: yarn run test

      - name: test check should succeed
        run: |
          set +e
          ./src/cli/cli.js check example-com > check_report
          code=$?
          set -e

          cat check_report

          [ $code -eq 1 ] && echo 'Error: Check should succeed' && exit 1

          grep 'success: true' check_report
      - name: test check should fail
        run: |
          set +e
          ./src/cli/cli.js check example-com-fail > check_report
          code=$?
          set -e

          cat check_report

          [ $code -eq 0 ] && echo 'Error: Check should fail' && exit 1

          grep 'success: false' check_report
          grep "Element 'body' does not contain 'No Way'" check_report
      - name: test check lighthouse
        run: |
          set +e
          PURR_CONFIG_CONCURRENCY=1 PURR_CONFIG_TRACES=false \
            PURR_CONFIG_CHROMIUM_REMOTE_DEBUGGING=true \
            ./src/cli/cli.js check --no-shorten \
            example-com-lighthouse > check_report
          code=$?
          set -e

          cat check_report

          [ $code -eq 1 ] && echo 'Error: Check should succeed' && exit 1

          grep 'success: true' check_report
          grep "labels: { name: 'first-contentful-paint', id: 'lh-one' }" \
            check_report
